body {
    font-family: Arial;
    background: #f1f2f6;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}